@model IEnumerable<RareCrew.ModelView.EmployeeModelView>

@{
    ViewData["Title"] = "Total WorkT Times";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Total work times per employee</h1>
<div>
    <div style="margin:5px; width:60%;float:left">
        <table class="table" style="margin:5px; width:100%">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalTime)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        if (item.TotalTimeInSeconds / 3600 < 100)
                        {
                            <tr style="background-color:red;">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td id="totalTime">

                                    @Html.DisplayFor(modelItem => item.TotalTime)

                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td id="totalTime">

                                    @Html.DisplayFor(modelItem => item.TotalTime)

                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
    <div>
        <div style="float:right; width:39%">
            <button style="margin:5px;" id="show-png">Toggle Png</button>
            <div></div>
            <div style="height:370px; width:100%; padding:10px; display: none;" id="png-container"></div>
            <div></div>
        </div>
    </div>
</div>

<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script type="text/javascript">
    var data = @Html.Raw(ViewBag.EmployeeModelViews);
    window.onload = function () {

        let array = [];
        let i;
        for (i = 0; i < data.length; i++) {
            array.push({
                y: data[i].TotalTimePercents, label: data[i].Name
            })
        }
        var chart = new CanvasJS.Chart("png-container", {
            theme: "light1", // "light1", "light2", "dark1", "dark2"
            exportEnabled: true,
            animationEnabled: true,
            title: {
                text: "Total work time per employee",
                fontSize: 25,
                fontFamily: "tahoma",
            },
            data: [{
                type: "pie",
                startAngle: 25,
                toolTipContent: "<b>{label}</b>: {y}%",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 16,
                indexLabel: "{label} - {y}%",
                dataPoints: array
            }]
        });
        chart.render();
    }

    $(document).ready(function () {
        $("#show-png").click(function () {
            $("#png-container").toggle();
        });
    });
</script>
